@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  src: url("../fonts/Karla-VariableFont_wght.ttf") format("truetype-variations");
  font-family: "Karla";
  font-weight: 200 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("../fonts/Karla-Italic-VariableFont_wght.ttf")
    format("truetype-variations");
  font-family: "Karla";
  font-weight: 200 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "iA Writer DuoS";
  src: url("../fonts/iAWriterDuoS-Regular.woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "iA Writer DuoS";
  src: url("../fonts/iAWriterDuoS-Italic.woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "iA Writer DuoS";
  src: url("../fonts/iAWriterDuoS-Bold.woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "iA Writer DuoS";
  src: url("../fonts/iAWriterDuoS-BoldItalic.woff2");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

/* The only way to style Prose Mirror*/
.ProseMirror {
  @apply mx-auto h-full w-full bg-light-base py-letter-fluid-vertical-padding px-letter-fluid-horizontal-padding font-mono text-dark-base outline-none focus:ring-0 focus-visible:ring-offset-0;
}

@layer base {
  :focus-visible {
    @apply outline-none ring-4 ring-red-base;
  }
  :hover {
    @apply outline-none ring-0 ring-offset-0;
  }

  progress {
    @apply h-4 overflow-hidden rounded-full border-green-base bg-light-shade;
  }

  progress::-webkit-progress-bar {
    @apply h-4 overflow-hidden rounded-full border-green-base bg-light-shade;
  }

  /* -moz-progress-bar is how you select the value element in firefox */
  progress::-moz-progress-bar {
    @apply rounded-full bg-green-base;
  }

  progress::-webkit-progress-value {
    @apply rounded-full bg-green-base;
  }
}
