@tailwind base;
@tailwind components;
@tailwind utilities;

.ProseMirror {
    max-width: 8.5in;    
    height: 11in;
    padding: clamp(0.5rem, -0.6364rem + 5.6818vw, 3rem) clamp(1rem, -1.2727rem + 11.3636vw, 6rem);
    @apply shadow-sm shadow-dark-shade outline-none overflow-auto mx-auto font-mono
  }